[build]
  publish = "."
  command = ""

[dev]
  framework = "#custom"
  targetPort = 8000
  port = 8888
  publish = "."
  autoLaunch = false

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    X-XSS-Protection = "1; mode=block"
    Referrer-Policy = "same-origin"
    Content-Security-Policy = "default-src 'self' https://ajax.googleapis.com https://modelviewer.dev; script-src 'self' 'unsafe-inline' https://ajax.googleapis.com https://modelviewer.dev; style-src 'self' 'unsafe-inline'; img-src 'self' data:; connect-src 'self' https://modelviewer.dev;"
